.search-form {
    display: flex;
    flex-direction: column;
    background-color: #1a1a2e;
    padding: 20px;
    color: #fff;
  }
  
  .search-form input, .search-form button {
    margin: 10px 0;
    padding: 10px;
    border: none;
  }
  
  .search-form button {
    background-color: #15c7c7;
    color: #fff;
  }
  